<br/><br/><br/>
<center>
	<div>
		<button type="button" class="btn btn-link">
			<a href="{{ getLink('items') }}?type=head">
				Helmets
			</a>
		</button>
		<button type="button" class="btn btn-link">
			<a href="{{ getLink('items') }}?type=body">
				Armors
			</a>
		</button>
		<button type="button" class="btn btn-link">
			<a href="{{ getLink('items') }}?type=legs">
				Legs
			</a>
		</button>
		<button type="button" class="btn btn-link">
			<a href="{{ getLink('items') }}?type=feet">
				Boots
			</a>
		</button>
		<button type="button" class="btn btn-link">
			<a href="{{ getLink('items') }}?type=shield">
				Shields
			</a>
		</button>
		<button type="button" class="btn btn-link">
			<a href="{{ getLink('items') }}?type=weapon">
				Weapons
			</a>
		</button>
		<button type="button" class="btn btn-link">
			<a href="{{ getLink('items') }}?type=ring">
				Rings
			</a>
		</button>
		<button type="button" class="btn btn-link">
			<a href="{{ getLink('items') }}?type=necklace">
				Necklace
			</a>
		</button>
	</div>
</center>
