<b>Boards</b>
<table width="100%" class="table table-striped">
	<tr>
		<td>
			<span class="{{config.textColor}}" style="font-size: 10px"><b>Board</b></span>
		</td>
		<td align="center" width="50px">
			<span class="{{config.textColor}}" style="font-size: 10px"><b>Posts</b></span>
		</td>
		<td align="center" width="50px">
			<span class="{{config.textColor}}" style="font-size: 10px"><b>Threads</b></span>
		</td>
		<td>
			<span class="{{config.textColor}}" style="font-size: 10px"><b>Last Post</b></span>
		</td>
		{% if canEdit %}
			<td>
				<span style="color: white; font-size: 10px"><b>Options</b></span>
			</td>
		{% endif %}
	</tr>
	{% set i = 0 %}
	{% for board in boards %}
	{% set i = i + 1 %}
	<tr>
		<td>
			<a href="{{ board.link }}">{{ board.name }}</a><br /><small>{{ board.description }}</small>
		</td>
		<td align="center">{{ board.posts }}</td>
		<td align="center">{{ board.threads }}</td>
		<td>
		{% if board.last_post.name is not null %}
		{{ board.last_post.date|date("d.m.y H:i:s") }}<br/>by {{ board.last_post.player_link|raw }}
		{% else %}
		No posts
		{% endif %}
		</td>
		{% if canEdit %}
			<td>
				{{ include('forum.admin.links.html.twig', {id: board.id, hide: board.hide, i: i }) }}
			</td>
		{% endif %}
	</tr>
	{% endfor %}
</table>
